CorrectionsApi/bin/Debug/net8.0/CorrectionsApi.dll
CorrectionsApi/bin/Debug/net8.0/CorrectionsApi.pdb
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.AssemblyInfo.cs
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.AssemblyInfoInputs.cache
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.csproj.FileListAbsolute.txt
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.dll
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.pdb
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.sourcelink.json
CorrectionsApi/obj/Debug/net8.0/ref/CorrectionsApi.dll
CorrectionsApi/obj/Debug/net8.0/refint/CorrectionsApi.dll
CorrectionsApi/bin/Debug/net8.0/CorrectionsApi.dll
CorrectionsApi/bin/Debug/net8.0/CorrectionsApi.pdb
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.AssemblyInfo.cs
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.AssemblyInfoInputs.cache
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.csproj.FileListAbsolute.txt
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.dll
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.pdb
CorrectionsApi/obj/Debug/net8.0/ref/CorrectionsApi.dll
CorrectionsApi/obj/Debug/net8.0/refint/CorrectionsApi.dll
