CorrectionsApi/bin/Debug/net8.0/CorrectionsApi.dll
CorrectionsApi/bin/Debug/net8.0/CorrectionsApi.pdb
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.AssemblyInfo.cs
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.AssemblyInfoInputs.cache
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.csproj.FileListAbsolute.txt
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.dll
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.pdb
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.sourcelink.json
CorrectionsApi/obj/Debug/net8.0/ref/CorrectionsApi.dll
CorrectionsApi/obj/Debug/net8.0/refint/CorrectionsApi.dll
CorrectionsApi/bin/Debug/net8.0/CorrectionsApi.dll
CorrectionsApi/bin/Debug/net8.0/CorrectionsApi.pdb
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.AssemblyInfo.cs
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.AssemblyInfoInputs.cache
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.csproj.FileListAbsolute.txt
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.dll
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.pdb
CorrectionsApi/obj/Debug/net8.0/ref/CorrectionsApi.dll
CorrectionsApi/obj/Debug/net8.0/refint/CorrectionsApi.dll
CorrectionsApi/bin/Debug/net8.0/appsettings.Development.json
CorrectionsApi/bin/Debug/net8.0/appsettings.json
CorrectionsApi/bin/Debug/net8.0/CorrectionsApi
CorrectionsApi/bin/Debug/net8.0/CorrectionsApi.deps.json
CorrectionsApi/bin/Debug/net8.0/CorrectionsApi.runtimeconfig.json
CorrectionsApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
CorrectionsApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
CorrectionsApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.InMemory.dll
CorrectionsApi/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
CorrectionsApi/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
CorrectionsApi/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
CorrectionsApi/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
CorrectionsApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
CorrectionsApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
CorrectionsApi/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
CorrectionsApi/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
CorrectionsApi/bin/Debug/net8.0/Microsoft.OpenApi.dll
CorrectionsApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
CorrectionsApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
CorrectionsApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
CorrectionsApi/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
CorrectionsApi/obj/CorrectionsApi.csproj.nuget.dgspec.json
CorrectionsApi/obj/CorrectionsApi.csproj.nuget.g.props
CorrectionsApi/obj/CorrectionsApi.csproj.nuget.g.targets
CorrectionsApi/obj/project.assets.json
CorrectionsApi/obj/project.nuget.cache
CorrectionsApi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CorrectionsApi/obj/Debug/net8.0/apphost
CorrectionsApi/obj/Debug/net8.0/Correcti.60822709.Up2Date
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.assets.cache
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.csproj.AssemblyReference.cache
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.csproj.CoreCompileInputs.cache
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.GeneratedMSBuildEditorConfig.editorconfig
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.genruntimeconfig.cache
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.GlobalUsings.g.cs
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.MvcApplicationPartsAssemblyInfo.cache
CorrectionsApi/obj/Debug/net8.0/CorrectionsApi.MvcApplicationPartsAssemblyInfo.cs
CorrectionsApi/obj/Debug/net8.0/staticwebassets.build.json
CorrectionsApi/obj/Debug/net8.0/staticwebassets/msbuild.build.CorrectionsApi.props
CorrectionsApi/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.CorrectionsApi.props
CorrectionsApi/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.CorrectionsApi.props
tests/Test/bin/Debug/net8.0/CoverletSourceRootsMapping_Test
tests/Test/obj/project.assets.json
tests/Test/obj/project.nuget.cache
tests/Test/obj/Test.csproj.nuget.dgspec.json
tests/Test/obj/Test.csproj.nuget.g.props
tests/Test/obj/Test.csproj.nuget.g.targets
tests/Test/obj/Debug/net8.0/MvcTestingAppManifest.json
tests/Test/obj/Debug/net8.0/Test.AssemblyInfo.cs
tests/Test/obj/Debug/net8.0/Test.AssemblyInfoInputs.cache
tests/Test/obj/Debug/net8.0/Test.assets.cache
tests/Test/obj/Debug/net8.0/Test.csproj.AssemblyReference.cache
tests/Test/obj/Debug/net8.0/Test.csproj.CoreCompileInputs.cache
tests/Test/obj/Debug/net8.0/Test.csproj.FileListAbsolute.txt
tests/Test/obj/Debug/net8.0/Test.GeneratedMSBuildEditorConfig.editorconfig
tests/Test/obj/Debug/net8.0/Test.GlobalUsings.g.cs
tests/Test/obj/Debug/net8.0/Test.sourcelink.json
tests/Test/bin/Debug/net8.0/CoverletSourceRootsMapping_Test
tests/Test/obj/project.assets.json
tests/Test/obj/project.nuget.cache
tests/Test/obj/Test.csproj.nuget.dgspec.json
tests/Test/obj/Test.csproj.nuget.g.props
tests/Test/obj/Test.csproj.nuget.g.targets
tests/Test/obj/Debug/net8.0/MvcTestingAppManifest.json
tests/Test/obj/Debug/net8.0/Test.AssemblyInfo.cs
tests/Test/obj/Debug/net8.0/Test.AssemblyInfoInputs.cache
tests/Test/obj/Debug/net8.0/Test.assets.cache
tests/Test/obj/Debug/net8.0/Test.csproj.AssemblyReference.cache
tests/Test/obj/Debug/net8.0/Test.csproj.CoreCompileInputs.cache
tests/Test/obj/Debug/net8.0/Test.csproj.FileListAbsolute.txt
tests/Test/obj/Debug/net8.0/Test.GeneratedMSBuildEditorConfig.editorconfig
tests/Test/obj/Debug/net8.0/Test.GlobalUsings.g.cs
tests/Test/obj/Debug/net8.0/Test.sourcelink.json
tests/Test/dotnet_openapi.json
openapi.yaml
diff_output.json
dotnet_openapi.yml
